PORT=3001
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=text_analyzer_db
DB_NAME_TEST=text_analyzer_db_test
DB_DIALECT=mysql

MAX_RATE_LIMIT=5
RATE_LIMIT_WINDOW_IN_SECONDS=60

CACHE_PREFIX=WSD
CACHE_TIMEOUT_IN_SECONDS=60